<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{first_name}}!</h2>
  </div>
</div>


{{#if reservation}}

<body class="m-3">
  <div class="card">
    <div class="card-header bg-secondary text-white">
      Currently Booked Ticket
    </div>
    <div class="card-body">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Station</th>
            <th scope="col">Time</th>
          </tr>
        <tbody>
          <tr>
            <td>{{{station.name}}}</td>
            <td>{{{station.depart_time}}}</td>
          </tr>
        </tbody>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</body>

{{else}}

<button>Make a Reservation</button>

{{/if}}

<body class="m-3">
  <div class="card">
    <div class="card-header bg-secondary text-white">
      Passenger Details
      <button id="delete-button" class="btn btn-sm btn-danger" data-id="{{id}}">DELETE USER</button>
      <button id="update-button" class="btn btn-sm btn-danger" data-id="{{id}}">UPDATE USER</button>
    </div>
    <div class="card-body">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
          </tr>
        <tbody>
          <tr>
            <td>{{{first_name}}}</td>
            <td>{{{last_name}}}</td>
            <td>{{{email}}}</td>
          </tr>
        </tbody>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</body>

<script src="./js/profile.js"></script>